.Home {

  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 10px #00276617;
  width:800px;
  max-width: 500px;
  margin: auto 0 0;
  padding: 40px;
}
.container {
  display: flex;
}
.home-image {
  display: flex;
  width: 800px;
  padding-left: 50px;
}